* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edf2ff;
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto 0px;
}

img {
  width: 50%;
}

img.avatar {
  border-radius: 50%;
  /* width: 100px;
  height: 100px; */
  padding: 3px;
  border: #ec0d6d solid 4px;
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 24px;
  margin-bottom: 8px;
}

p.username {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  color: #00082f;
}

h1,
p:hover {
  cursor: default;
}

ul {
  list-style: none;
  margin: 48px;
}

ul li a {
  display: flex;
  height: 53px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: #ec0d6d;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: #af004c;
  transform: scale(1.1);
  transition: 200ms;
}

footer {
  font-size: 12px;
  font-weight: 500;
  color: #00082f;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
  cursor: default;
}
